<fieldset>
    <legend class="screen-reader-text">Post Formats</legend>
    <div class="wyzi-claim-form-field-content">
        <div class="wyzi-claim-form-input-field-container">
            <label>Label</label>
            <input type="text" ng-model="field.label" class="wyzi-claim-form-input-field" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>Placeholder</label>
            <input type="text" ng-model="field.placeholder" class="wyzi-claim-form-input-field" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <input type="checkbox" class="wyzi-claim-form-input-field" ng-model="field.required" ng-checked="field.required" />
            <label> Required</label>
        </div>
        <div class="wyzi_claim-form-input-field-container">
            <input type="checkbox" class="wyzi_claim-form-input-field" ng-model="field.visible" ng-checked="field.visible" />
            <label> Visible</label>
            <p class="description">If checked, the field will appear to public users. Otherwise, it will be hidden from public and only admin can see it in the backend.</p>
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>Custom CSS Classes</label>
            <input type="text" class="wyzi-claim-form-input-field" ng-model="field.cssClass" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <a href="#" ng-click="removeFormField($index, $event)" class="wyzi-remove-form-field">Remove</a>
        </div>

    </div>
</fieldset>