<fieldset>
    <legend class="screen-reader-text">Tab Formats</legend>
    <div class="wyzi-claim-form-field-content">
        <div class="wyzi-claim-form-input-field-container" ng-show="addToAdded(field.type)">
            <label>Label</label>
            <input type="text" ng-model="field.label" class="wyzi-claim-form-input-field" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>URL ID</label>
            <input type="text" ng-model="field.urlid" class="wyzi-claim-form-input-field" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>Active</label>
            <input type="radio" ng-model="active" value="1" name="active" class="wyzi-claim-form-input-field" ng-click="listOnchange(parentIndex,key)"/>
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>Content</label>
            <textarea class="wyzi-claim-form-input-field" style="width: 70% !important;" ng-model="field.additionalContent"></textarea>
            <p class="description">use the keywords %business_id%, %user_id%, and %author_id% if you want to use a shortcode that needs the business id, the user id or the current business's owner id respectively.</p>
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>Custom CSS Classes</label>
            <input type="text" class="wyzi-claim-form-input-field" ng-model="field.cssClass" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <a href="#" ng-click="removeFormField(field.type, $index, $event)" class="wyzi-remove-form-field">Remove</a>
        </div>

    </div>
</fieldset>