<fieldset>
    <legend class="screen-reader-text">Tab Formats</legend>
    <div class="wyzi-claim-form-field-content">
        <div class="wyzi-claim-form-input-field-container" ng-show="addToAdded(field.type)">
            <label>Label</label>
            <input type="text" ng-model="field.label" class="wyzi-claim-form-input-field" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>URL ID</label>
            <input type="text" ng-model="field.urlid" class="wyzi-claim-form-input-field" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>Default Active Tab</label>
            <input type="radio" ng-model="active" value="1" name="active" class="wyzi-claim-form-input-field" ng-click="listOnchange(parentIndex,key)"/>
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <label>Custom CSS Classes</label>
            <input type="text" class="wyzi-claim-form-input-field" ng-model="field.cssClass" />
        </div>
        <div class="wyzi-claim-form-input-field-container">
            <a href="#" ng-click="removeFormField(field.type, $index, $event)" class="wyzi-remove-form-field">Remove</a>
        </div>

    </div>
</fieldset>